/* =================================================================================================================
                                                        --VARIABLES--
================================================================================================================= */


:root {
    --h1-background-color: #37373f;
    --h1-font-color: rgb(234, 10, 10);
}


/* =================================================================================================================
                                                        --POSITION--
================================================================================================================= */


.l-r-header {
    display: grid;
    align-items: center;
    height: 5em;
}

.l-r-header .in-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 75em;
    margin: auto;
}

.l-r-header .left {
    justify-self: left;
}

.l-r-header .logo {
    display: inline-block;
}

.l-r-header .right {
    justify-self: right;
}

.l-r-header .unordered-list {
    word-spacing: -5px;
}

.l-r-header .list {
    display: inline-block;
    word-spacing: 0;
    margin-left: 3em
}

.l-r-header .link {
    display: inline-block;
}


/* =================================================================================================================
                                                        --DESIGN--
================================================================================================================= */


.l-r-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    background: linear-gradient(to right, var(--h1-background-color), rgb(77, 77, 77));
    border-bottom: 2px solid red;
    /* border: 2px solid red; */
}

.l-r-header .in-header {
    /* border: 2px solid blue; */
}

.l-r-header .left {
    /* border: 2px solid purple; */
}

.l-r-header .logo {
    color: var(--h1-font-color);
    /* border: 2px solid yellow; */
}

.l-r-header .right {
    /* border: 2px solid purple; */
}

.l-r-header .unordered-list {
    list-style: none;
    /* border: 2px solid yellow; */
}

.l-r-header .list {
    /* border: 2px solid green; */
}

.l-r-header .link {
    text-decoration: none;
    color: var(--h1-font-color);
    /* border: 2px solid orange; */
}