:root {
    --m2-background-color: #37373f;
    --m2-font-color: rgb(210, 210, 210);
}

.columns-3-section {
    display: grid;
    place-content: center;
    height: 16.5em;
    width: 85em;
    margin: auto;
}

.columns-3-section .in-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    z-index: 1;
}

.columns-3-section .content {
    display: grid;
    align-items: flex-end;
    grid-template-rows: 1fr;
    padding: 1em 1.5em;
    width: 23em;
    height: 13.8em;
    position: relative;
}

.columns-3-section .image {
    aspect-ratio: 1 / .6;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.columns-3-section .header {
    display: inline-block;
    z-index: 2;
}

.columns-3-section .paragraph {
    display: inline-block;
    z-index: 2;
}

.columns-3-main .button {
    display: inline-block;
}

.columns-3-section {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, var(--m2-background-color), rgb(77, 77, 77));
    border-bottom: 1px solid red;
}

.columns-3-section .content {
    color: var(--m2-font-color);
    border-radius: 15px;
    border: 2xp solid red;
    background-color: rgba(0, 0, 0, .6);
}

.columns-3-section .image {
    border-radius: 15px;
    border-bottom: 1px solid red;
    border-right: 1px solid red;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.columns-3-section .header {
    font-size: 1.4em;
    font-weight: 500;
}

.columns-3-section .paragraph {
    font-size: 1em;
}
